/* Верстка для блока Шапка */


.intro {
    width: 100%;
    
    min-height: 820px;
    background: url("./Image/bach2.jpg") no-repeat;

}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;   
}

.header {
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
}

.header.fixed {
    padding: 15px 0;
    position: fixed;
    background-color: #333;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2 ); /* тень для шапки */
    /*background: #e5e1d8;*/
}

.intro_header{
    display: flex; 
    justify-content: space-between;
    align-items: center;
}



.header_logo {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ffffff;
}

.nav {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase; /* Все буквы большие */
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    color: #ffffff;
    text-decoration: none; /* убрать подчеркивание */
    transition: color .2s linear; /* плавное переключение на текст*/
    margin: 0 15px;
    position: relative;
}

.nav_link:hover {
    color: #fce38a;
}

.nav_link:after {
    content: "";
    display: none;
    width: 100%;
    height: 3px;
    background-color: #fce38a;
    position: absolute;
    top: 100%;
}

.nav_link:hover:after {
    color: #fce38a;
    display: block;
}


.nav-tools {
    position: absolute;
    width: 30px;
    top:25px;
    right: 40px;
    z-index: 1;
    padding: 15px 0;
    display: none;
     
}

.nav-tools.active .nav-tools_item  {
    background: none;
}

.nav-tools.active 
.nav-tools_item::before  {
    transform-origin: left top;
    transform: rotate(45deg)
    translateX(-2px);;
}

.nav-tools.active 
.nav-tools_item::after  {
    transform-origin: left bottom;
    transform: rotate(-45deg)
    translateX(-3px);
}

.nav-tools_item {
    
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
}

.nav-tools_item::before,
.nav-tools_item::after{
    content: "";
    width: 100%;
    height: 3px;
    position: absolute;
    background-color: #ffffff;
    transition: transform .2s linear;
}

.nav-tools_item::before {
    top: 7px;
}

.nav-tools_item::after {
    bottom: 7px;
}



.intro_inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

.inner_title {
    color: #ffffff;
    font-size: 150px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}   

.inner_title::after {
    content: "";
    display: block;
    width: 80px;
    height: 3px;
    background-color: #ffffff;
    margin: 30px auto;
}

.inner_btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: block;
    width: 125px;
    height: 17px;
    border: 3px solid #ffffff;
    color: #ffffff;
    padding: 10px 15px;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1;
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
    transition: color .1s linear;
}

.inner_btn:hover{
    background-color: #ffffff;
    color: #333;
}


/* Верстка для блока About */


.section {
    padding: 80px 0;
}

.section_clients {
    background: #f5f5f5;

}

.section_header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
    text-align: center;
}

.section_suptitle {
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
    font-weight: 700;
}

.section_title {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}
.section_title::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto 0;
    background-color: #f38181;

}
.section_text {
    font-size: 15px;
    color: #999;
}

.about {
   
    display: flex;
    justify-content: space-between;
}

.about_item {
    width: 25%;
    padding: 0 15px;
}


.about_item:hover .about_image {
    transform: translate3d(-10px,-10px,0); /* смешение картинки при наводе */
}

.about_item:hover .about_image img{
    opacity: .3; /* затемнение */

}

.about_image {
    background: linear-gradient( #f38181,#fce38a); /* создание градиенты */
    transition: transform .1s linear; /* длительность операции transform */
}

.about_image img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    transition: opacity .1s linear; /* длительность операции opacity */
}

.item_title {
    font-size: 18px;
    font-family: 'Kaushan Script', sans-serif;
    font-weight: 700;
    text-align: center;
}

.item_text {
    font-size: 15px;
    color: #999;
    text-align: left;
}

/* Верстка для блока About_Reclam */

.about_reklam {
    width: 100%;

    background: url("./Image/reclam.jpg") no-repeat;

}

.about-reklam_info {
    margin: 0 auto;
    text-align: center;
    color: #ffffff;  
    padding: 30px 0;
}

.about-reklam_suptitle {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.about-reklam_title {
   font-size: 18px;
    font-family: 'Kaushan Script', sans-serif;
    font-weight: 700;
}

.about-reklam_text {
    font-size: 15px;
    color: #999;
}

.about-reklam_btn {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    display: block;
    width: 30%;
    height: 20px;
    border: 3px solid #ffffff;
    padding: 12px 24px;
    line-height: 1;
    text-decoration: none;
    margin: 0 auto;
    text-align: center;
}

.about-reklam_btn:hover {
    background-color: #ffffff;
    color: #333;
}


/* Верстка для Service */ 



.service_content {
    display: flex;
    justify-content: space-between;

}
.service_item {

    width: 33.3333%;
    padding: 0 15px;

}

.service_item:hover .service_image {
    transform: translate3d(-10px,-10px,0); /* смешение картинки при наводе */
}



.service_item:hover .service_image img{
    opacity: .3; /* затемнение */

}

.service_item:hover .service_text{
    opacity: .7; /* затемнение */

}

.service_image {
    background: linear-gradient(to bottom, #f38181,#fce38a); /* создание градиенты */
    transition: transform .1s linear; /* длительность операции transform */
}

.service_image img {
    max-width: 100%;
    display: block;
    transition: opacity .1s linear; /* длительность операции opacity */
}

.service_text {
    width: 100%;
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    opacity: 0;
    transform: translate3d(0, -50%,0);
    transition: opacity .2s linear;
    color: #333;
}

.social {
    display: flex;
    justify-content: center;
    

}

.social_item {
padding: 10px;
line-height: 1;
background-color: #fce38a;
font-size: 30px;
text-decoration: none;
color: #f38181;
border: 1px solid #f38181;
transition: color .1s linear ;
    
}


.social_item:hover {
    background-color:  #f38181;
    color: #ffffff;

}



/* Верстка для блока Service_Reclam */

.service_reklam {
    background-color: #006848;
    margin-bottom: 80px;
}

.sr_logo {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px 0;
}

.sr_content {
    color: #ffffff;
    text-align: center;
    margin-top: 0px;
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    

}
.suptitle_sr {
    margin: 0;
}

.title_sr {
    padding: 0 0 15px;
}



/* Верстка для Modes */

.modes {
    position: relative;
}

.modes_back {
   width: 100%;
}


.modes_block {
    position: absolute;
    top: 15%;
    right: 0;
    left: 0;
    z-index: 2;
}

.modes_header{
    text-align: center;
    padding: 15px;
}


.modes_suptitle {
    color: #ffffff;
    font-size: 32px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.modes_title {
    color: #ffffff;
    font-size: 22px;
    font-family: 'Kaushan Script', sans-serif;
    font-weight: 700;
}

.modes_item {
    display: flex;
    justify-content: space-between;
    color: #ffffff;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;

}

.item_slow {
    width: 33.333%;
    padding: 0 15px;

}

.modes_img {
    max-width: 100%;
}


/* Верстка для Clients */


.clietns {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.clietns_item {
    padding-left: 20px;
    width: 43%;
    margin-bottom: 50px;
    display: flex;
    
}


.clietns_image {
    
    width: 110px;
    height: 110px;
    border-radius: 50%;
    
}

.clients_content{
    padding: 0 45px 0 20px;

}


.clients_name {
    font-size: 14px;
    color:#333;
    text-transform: uppercase;
    font-family: 'Kaushan Script', cursive;
    font-weight: 700;

}

clients_dev {
    font-size: 15px;
    color:#333;
    font-style: italic;
    font-weight: 300;
}

.clients_dev::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: 15px 0;

}

.clients_review {
    font-size: 15px;
    color:#999;
}



@media (max-width:1200px){

    /* intro */ 
    .intro_header{
        padding-left: 15px;
    }

    .inner_title{
        font-size: 120px;
    }



    /* about */


}

@media (max-width:990px){

    /* intro */ 
    .intro_header{
        padding-left: 15px;
    }

    .inner_title{
        font-size: 80px;
    }

    .modes_item {
        display: none;
    }

    .modes_suptitle {
        font-size: 24px;
    }

    .modes_title {
        font-size: 18px;
    }

}


@media (max-width:770px){

    /* intro */ 



    .inner_title{
        font-size: 60px;
    }
    
    .intro_header {
        padding-top: 10px;

    }

    .nav {
        /*display: none;*/
        width: 100%;
        text-align: center;
        position: absolute;
        top: 70px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav.active {
        background: #70694d;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
      }

    .nav_link {
        display: block;
        margin: 0;
        padding: 8px 20px;

    }


    .nav-tools {
        display: block;
         
    }
    

    .about {
        flex-wrap: wrap;    
    }

    .about_item {
        width: 43%;
        max-width: 330px;
        padding-bottom: 25px;
    }

    .service_content {
        flex-wrap: wrap;
    }

    .service_item {
        width: 43%;
        max-width: 330px;
        padding-bottom: 25px;
    }

    .section {
        padding: 60px 0;
    }
    



}


@media (max-width:570px){

    /* intro */ 
   .intro_header{
        padding-left: 15px;
    }

    
    .nav {
        /*display: none;*/
        width: 100%;
        text-align: center;
        position: absolute;
        top: 70px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav.active {
        background: #70694d;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
      }


    .about {
        flex-wrap: wrap;
        justify-content: center;
    }

    .about_item {
        width: 100%;
        max-width: 380px;
        padding-bottom: 25px;
    }

    .service_content {
        flex-wrap: wrap;
        justify-content: center;
    }

    .service_item {
        width: 100%;
        max-width: 380px;
        padding-bottom: 25px;
    }

    .clietns_item {
        width: 100%;
    }
   
    .about-reklam_suptitle {
        font-size: 16px;
    }

    .about-reklam_title {
    font-size: 12px;
    }

    .about-reklam_text {
        font-size: 8px;
    }

    .about-reklam_btn {
        font-size: 12px;
    }


   
}